= form_for @tracing do |f|
  - if @tracing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tracing.errors.count, "error")} prohibited this tracing from being saved:"
      %ul
        - @tracing.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :record_id
    = f.text_field :record_id
  .field
    = f.label :dist_id
    = f.text_field :dist_id
  .field
    = f.label :inside
    = f.text_field :inside
  .field
    = f.label :shipto
    = f.text_field :shipto
  .field
    = f.label :add1
    = f.text_field :add1
  .field
    = f.label :add2
    = f.text_field :add2
  .field
    = f.label :add3
    = f.text_field :add3
  .field
    = f.label :add4
    = f.text_field :add4
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :st
    = f.text_field :st
  .field
    = f.label :prod_type
    = f.text_field :prod_type
  .field
    = f.label :contract
    = f.text_field :contract
  .field
    = f.label :prod_no
    = f.text_field :prod_no
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :qty
    = f.text_field :qty
  .field
    = f.label :ext_amnt
    = f.text_field :ext_amnt
  .field
    = f.label :inv_date
    = f.text_field :inv_date
  .field
    = f.label :sklar_id
    = f.text_field :sklar_id
  .actions
    = f.submit 'Save'
