%p#notice= notice

%p
  %b Record:
  = @tracing.record_id
%p
  %b Dist:
  = @tracing.dist_id
%p
  %b Inside:
  = @tracing.inside
%p
  %b Shipto:
  = @tracing.shipto
%p
  %b Add1:
  = @tracing.add1
%p
  %b Add2:
  = @tracing.add2
%p
  %b Add3:
  = @tracing.add3
%p
  %b Add4:
  = @tracing.add4
%p
  %b City:
  = @tracing.city
%p
  %b St:
  = @tracing.st
%p
  %b Prod type:
  = @tracing.prod_type
%p
  %b Contract:
  = @tracing.contract
%p
  %b Prod no:
  = @tracing.prod_no
%p
  %b Description:
  = @tracing.description
%p
  %b Qty:
  = @tracing.qty
%p
  %b Ext amnt:
  = @tracing.ext_amnt
%p
  %b Inv date:
  = @tracing.inv_date
%p
  %b Sklar:
  = @tracing.sklar_id

= link_to 'Edit', edit_tracing_path(@tracing)
\|
= link_to 'Back', tracings_path
